#settings-collapse {
    background-color: #3d4e5b;
    font-size: 10px;
}

#settings-collapse li {
    width: 100%;
    padding: 12px 24px 12px 48px;
}

#settings-collapse li a {
    color: white;
    text-decoration: none;
}

#settings-collapse li a:hover {
    color: #8496ab;
}

.default-currency-selector select {
    margin: 0 12px;
}