<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <IsLinux>true</IsLinux>
    <ApiResourceId>/subscriptions/5666b131-18b6-4c6a-aecc-b15f745b9c37/resourceGroups/PortEval/providers/Microsoft.ApiManagement/service/PortEvalApplicationapi/apis/PortEvalApplication</ApiResourceId>
    <OpenApiDocumentName>v1</OpenApiDocumentName>
    <UpdateApiOnPublish>true</UpdateApiOnPublish>
    <ResourceId>/subscriptions/5666b131-18b6-4c6a-aecc-b15f745b9c37/resourcegroups/PortEval/providers/Microsoft.Web/sites/PortEvalApplication20211125145605</ResourceId>
    <ResourceGroup>PortEval</ResourceGroup>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>https://portevalapplication20211125145605.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <SCMUrl>https://portevalapplication20211125145605.scm.azurewebsites.net/</SCMUrl>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <ProjectGuid>86031f04-d45c-4b32-99f3-f8afac878e16</ProjectGuid>
    <MSDeployServiceURL>waws-prod-fra-013.publish.azurewebsites.windows.net:443</MSDeployServiceURL>
    <DeployIisAppPath>PortEvalApplication20211125145605</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$PortEvalApplication20211125145605</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
  </PropertyGroup>
</Project>