<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi" xmlns:iis="http://schemas.microsoft.com/wix/IIsExtension"
     xmlns:util="http://schemas.microsoft.com/wix/UtilExtension"
>
	<?define PortEvalConfigurationRegistry=Software\PortEval\Configuration?>
	<?define PortEvalTiingoKeyRegistryValue=PORTEVAL_Tiingo_Key?>
	<?define PortEvalOXRKeyRegistryValue=PORTEVAL_OpenExchangeRates_Key?>
	<?define PortEvalFileStorageRegistryValue=PORTEVAL_File_Storage?>
	
    <Product Id="*" Name="PortEval" Language="1033" Version="1.0.1.0" Manufacturer="Dmitry Simonov" UpgradeCode="aaeb5c98-d082-4934-bbb3-49553e5a5b48">
        <Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" Platform="x64" />
        <MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
        <Media Id="1" Cabinet="media1.cab" EmbedCab="yes" />
        <Feature Id="ProductFeature" Title="PortEval" Level="1">
            <ComponentRef Id="APIAppPool" />
			<ComponentRef Id="WEBAppPool" />
			<ComponentRef Id="RegistryKeys" />
            <ComponentGroupRef Id="WebsiteComponents" />
            <ComponentGroupRef Id="APIPublishedFiles" />
            <ComponentGroupRef Id="WebCompiledFiles" />
			<ComponentRef Id="URLRewriteWebConfigFile" />
        </Feature>
        <UI>
            <Dialog Id="DataSourcesDlg" Width="370" Height="270" Title="Configure data sources">
                <Control Type="Edit" Id="TiingoKeyEdit" Width="328" Height="15" X="22" Y="218" Property="TIINGO_KEY">
                    <Condition Action="show">DataSourcesListBox_Prop = "Tiingo"</Condition>
					<Condition Action="hide">DataSourcesListBox_Prop &lt;&gt; "Tiingo"</Condition>
                </Control>
				<Control Type="Edit" Id="OpenExchangeRatesKeyEdit" Width="328" Height="15" X="22" Y="218" Property="OPENEXCHANGERATES_KEY">
					<Condition Action="show">DataSourcesListBox_Prop = "OpenExchangeRates"</Condition>
					<Condition Action="hide">DataSourcesListBox_Prop &lt;&gt; "OpenExchangeRates"</Condition>
				</Control>
                <Control Type="ListBox" Property="DataSourcesListBox_Prop" Id="DataSourcesListBox" Width="322" Height="169" X="22" Y="15">
                    <ListBox Property="DataSourcesListBox_Prop">
                        <ListItem Text="Tiingo" Value="Tiingo" />
						<ListItem Text="Open Exchange Rates" Value="OpenExchangeRates" />
                    </ListBox>
                </Control>
                <Control Type="Text" Id="EnterKeyText" Width="316" Height="14" X="22" Y="199">
                    <Text>Enter API key:</Text>
                </Control>
                <Control Type="PushButton" Id="Back" Width="56" Height="17" X="169" Y="244">
                    <Text>Back</Text>
                    <Publish Event="NewDialog" Value="WelcomeDlgCustom">1</Publish>
                </Control>
                <Control Type="PushButton" Id="Next" Width="56" Height="17" X="225" Y="244">
                    <Text>Next</Text>
					<Publish Event="EndDialog" Value="Return">1</Publish>
                </Control>
                <Control Type="PushButton" Id="Cancel" Width="56" Height="17" X="292" Y="244">
                    <Text>Cancel</Text>
					<Publish Event="SpawnDialog" Value="CancelDlg">1</Publish>
                </Control>
            </Dialog>
			<Dialog Id="WelcomeDlgCustom" Width="370" Height="270" Title="!(loc.WelcomeDlg_Title)">
				<Control Id="Next" Type="PushButton" X="236" Y="243" Width="56" Height="17" Default="yes" Text="!(loc.WixUINext)" >
					<Publish Property="WixUI_InstallMode" Value="Update">Installed AND PATCH</Publish>
				</Control>
				<Control Id="Cancel" Type="PushButton" X="304" Y="243" Width="56" Height="17" Cancel="yes" Text="!(loc.WixUICancel)">
					<Publish Event="SpawnDialog" Value="CancelDlg">1</Publish>
				</Control>
				<Control Id="Bitmap" Type="Bitmap" X="0" Y="0" Width="370" Height="234" TabSkip="no" Text="!(loc.WelcomeDlgBitmap)" />
				<Control Id="Back" Type="PushButton" X="180" Y="243" Width="56" Height="17" Disabled="yes" Text="!(loc.WixUIBack)" />
				<Control Id="BottomLine" Type="Line" X="0" Y="234" Width="370" Height="0" />
				<Control Id="Description" Type="Text" X="135" Y="80" Width="220" Height="60" Transparent="yes" NoPrefix="yes" Text="!(loc.WelcomeDlgDescription)" >
					<Condition Action="show">NOT Installed OR NOT PATCH</Condition>
					<Condition Action="hide">Installed AND PATCH</Condition>
				</Control>
				<Control Id="PatchDescription" Type="Text" X="135" Y="80" Width="220" Height="60" Transparent="yes" NoPrefix="yes" Text="!(loc.WelcomeUpdateDlgDescriptionUpdate)" >
					<Condition Action="show">Installed AND PATCH</Condition>
					<Condition Action="hide">NOT Installed OR NOT PATCH</Condition>
				</Control>
				<Control Id="Title" Type="Text" X="135" Y="20" Width="220" Height="60" Transparent="yes" NoPrefix="yes" Text="!(loc.WelcomeDlgTitle)" />
			</Dialog>
            <TextStyle Id="WixUI_Font_Normal" FaceName="Tahoma" Size="8" />
            <TextStyle Id="WixUI_Font_Bigger" FaceName="Tahoma" Size="12" />
            <TextStyle Id="WixUI_Font_Title" FaceName="Tahoma" Size="9" Bold="yes" />
            <Property Id="DefaultUIFont" Value="WixUI_Font_Normal" />
            <Property Id="WixUI_Mode" Value="Minimal" />
            <DialogRef Id="ErrorDlg" />
            <DialogRef Id="FatalError" />
            <DialogRef Id="FilesInUse" />
            <DialogRef Id="MsiRMFilesInUse" />
            <DialogRef Id="PrepareDlg" />
            <DialogRef Id="ProgressDlg" />
            <DialogRef Id="ResumeDlg" />
            <DialogRef Id="UserExit" />
            <Publish Dialog="ExitDialog" Control="Finish" Event="EndDialog" Value="Return" Order="999">1</Publish>
            <Publish Dialog="VerifyReadyDlg" Control="Back" Event="NewDialog" Value="MaintenanceTypeDlg">1</Publish>
            <Publish Dialog="MaintenanceWelcomeDlg" Control="Next" Event="NewDialog" Value="MaintenanceTypeDlg">1</Publish>
            <Publish Dialog="MaintenanceTypeDlg" Control="RepairButton" Event="NewDialog" Value="DataSourcesDlg">1</Publish>
            <Publish Dialog="MaintenanceTypeDlg" Control="RemoveButton" Event="NewDialog" Value="VerifyReadyDlg">1</Publish>
            <Publish Dialog="MaintenanceTypeDlg" Control="Back" Event="NewDialog" Value="MaintenanceWelcomeDlg">1</Publish>
            <Publish Dialog="WelcomeDlgCustom" Control="Next" Event="NewDialog" Value="DataSourcesDlg">NOT Installed</Publish>
			<Publish Dialog="WelcomeDlgCustom" Control="Next" Event="EndDialog" Value="Return">Installed AND NOT Patch</Publish>
            <Publish Dialog="VerifyReadyDlg" Control="Back" Event="NewDialog" Value="DataSourcesDlg" Order="2">WixUI_InstallMode &lt;&gt; &quot;Remove&quot;</Publish>
            <Publish Dialog="VerifyReadyDlg" Control="Back" Event="NewDialog" Value="MaintenanceTypeDlg" Order="2">WixUI_InstallMode = &quot;Remove&quot;</Publish>

			<InstallUISequence>
				<Show Dialog="WelcomeDlgCustom" Before="MaintenanceWelcomeDlg">NOT Installed OR PATCH</Show>
				<Show Dialog="MaintenanceWelcomeDlg" Before="ProgressDlg">Installed AND NOT RESUMED AND NOT PATCH</Show>
			</InstallUISequence>
			
            <Property Id="ARPNOMODIFY" Value="1" />
        </UI>
        <UIRef Id="WixUI_Common" />

		<Property Id="ApplicationPort" Value="5432" />
        <Property Id="DataSourcesListBox_Prop" Value="Tiingo" />
		<Property Id="TIINGO_KEY_CURRENT">
			<RegistrySearch Id="TiingoKeySearch" Root="HKLM" Key="$(var.PortEvalConfigurationRegistry)" Name="$(var.PortEvalTiingoKeyRegistryValue)" Type="raw" Win64="yes"/>
		</Property>
		<Property Id="OXR_KEY_CURRENT">
			<RegistrySearch Id="OXRKeySearch" Root="HKLM" Key="$(var.PortEvalConfigurationRegistry)" Name="$(var.PortEvalOXRKeyRegistryValue)" Type="raw" Win64="yes"/>
		</Property>
		<Property Id="TIINGO_KEY" Secure="yes" />
		<Property Id="OPENEXCHANGERATES_KEY" Secure="yes" />
		<SetProperty Id="TIINGO_KEY" Value="[TIINGO_KEY_CURRENT]" After="AppSearch" Sequence="ui">TIINGO_KEY_CURRENT</SetProperty>
		<SetProperty Id="OPENEXCHANGERATES_KEY" Value="[OXR_KEY_CURRENT]" After="AppSearch" Sequence="ui">OXR_KEY_CURRENT</SetProperty>
    </Product>
    <Fragment>
        <Directory Id="TARGETDIR" Name="SourceDir">
            <Directory Id="IISMain" Name="inetpub">
                <Directory Id="WWWMain" Name="wwwroot">
					<Directory Id="APIINSTALLFOLDER" ComponentGuidGenerationSeed="aaa89b0c-384f-4375-a124-df3f062f39de" Name="PortEval.API">
						<Directory Id="APIFILESFOLDER" Name="Files" />
					</Directory>
                    <Directory Id="WEBINSTALLFOLDER" ComponentGuidGenerationSeed="9bb816bc-1e4a-4047-99ee-a4a218bc0b8e" Name="PortEval.Web" />
                </Directory>
            </Directory>
        </Directory>
    </Fragment>
    <Fragment>
		<Component Id="URLRewriteWebConfigFile" Guid="e409f22a-266b-481a-85ec-963eefd5f2f1" Directory="WEBINSTALLFOLDER">
			<File Id="PortEval.Web.WebConfig" KeyPath="yes" Source="AdditionalContent\web.config" />
		</Component>
        <Component Id="APIAppPool" Guid="7fa616c4-b8ae-46df-a826-bc38e13df54e" Win64="yes" Directory="APIINSTALLFOLDER">
            <iis:WebAppPool Id="PortEvalAppPool" Name="PortEval App Pool" Identity="localSystem" ManagedPipelineMode="Integrated" ManagedRuntimeVersion="v4.0" RecycleMinutes="200" />
            <CreateFolder />
			<CreateFolder Directory="APIFILESFOLDER" />
        </Component>
		<Component Id="WEBAppPool" Guid="8ccf83ea-8296-4b3c-bb46-db8c91846f48" Win64="yes" Directory="WEBINSTALLFOLDER">
			<iis:WebAppPool Id="PortEvalWebAppPool" Name="PortEval Web App Pool" Identity="applicationPoolIdentity" ManagedPipelineMode="Integrated" ManagedRuntimeVersion="v4.0" RecycleMinutes="200" />
			<CreateFolder />
 		</Component>
		<Component Id="RegistryKeys" Guid="*" Directory="APIINSTALLFOLDER" Win64="yes">
			<RegistryKey Root="HKLM" Key="$(var.PortEvalConfigurationRegistry)" ForceDeleteOnUninstall="yes">
				<RegistryValue Type="string" Name="$(var.PortEvalTiingoKeyRegistryValue)" Value="[TIINGO_KEY]" />
				<RegistryValue Type="string" Name="$(var.PortEvalOXRKeyRegistryValue)" Value="[OPENEXCHANGERATES_KEY]" />
				<RegistryValue Type="string" Name="$(var.PortEvalFileStorageRegistryValue)" Value="[APIINSTALLFOLDER]Files" />
			</RegistryKey>
		</Component>
		<ComponentGroup Id="WebsiteComponents" Directory="WEBINSTALLFOLDER">
			<Component Id="PortEval.Web.IISWebSite" Guid="aa57b60a-5f9c-49f7-8075-cbd699256691">
				<iis:WebSite Id="PortEval.Web" Description="PortEval Web" Directory="WEBINSTALLFOLDER">
                    <iis:WebAddress Id="PortEval.Web.WebAddress" Port="[ApplicationPort]" />
					<iis:WebApplication Id="PortEvalWebApp" Name="PortEval.Web" WebAppPool="PortEvalWebAppPool" />
                    <iis:WebVirtualDir Id="PortEval.API.VDir" Alias="api" Directory="APIINSTALLFOLDER">
                        <iis:WebApplication Id="PortEvalAPIWebApp" Name="PortEval.API" WebAppPool="PortEvalAppPool" />
                    </iis:WebVirtualDir>
                </iis:WebSite>
                <CreateFolder />
            </Component>
        </ComponentGroup>
    </Fragment>
</Wix>