<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<Fragment>
		<PackageGroup Id="RebootIfNecessary">
			<ExePackage
						Id="Reboot"
						SourceFile="rundism.bat"
						DisplayName="Installing IIS: Requesting reboot"
						PerMachine="yes"
						InstallCondition="(NOT SqlInstanceFound AND Odbc17InstallationFound) OR NOT WebServerInstalled OR NOT StaticContentInstalled OR NOT DefaultDocumentInstalled OR NOT DirectoryBrowsingInstalled OR NOT HttpErrorsInstalled OR NOT HttpRedirectInstalled OR NOT ASPInstalled OR NOT ASPNETInstalled OR NOT ASPNET45Installed OR NOT NetFxExtensibilityInstalled OR NOT NetFxExtensibility45Installed OR NOT ISAPIExtensionsInstalled OR NOT ISAPIFilterInstalled OR NOT HttpLoggingInstalled OR NOT LoggingLibrariesInstalled OR NOT RequestMonitorInstalled OR NOT HttpTracingInstalled OR NOT CustomLoggingInstalled OR NOT RequestFilteringInstalled OR NOT IPSecurityInstalled OR NOT HttpCompressionStaticInstalled OR NOT ManagementConsoleInstalled OR NOT ManagementScriptingToolsInstalled OR NOT AdminServiceInstalled OR NOT NetFxEnvironmentInstalled OR NOT WASConfigurationAPIInstalled"
				  >
				<ExitCode Behavior="forceReboot" />
			</ExePackage>
		</PackageGroup>
	</Fragment>
</Wix>
